@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;0,900;1,400&family=Roboto+Flex:wght@300;400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
